body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form
{
    width: 230px;
    background-color: #cb9898;
}
form > div
{
    margin: 15px 0;
    margin-left: 10px;
}
.sel, .kol
{
    text-align: center;
}
#wiwod
{
    text-align: right;
    margin-right: 5px;
}
.hide
{
    display: none;
}